.statusbar {
  background-color: rgba(56, 55, 63, 0.6);
  border-radius: 30px;
  padding: 5px;
  margin: 0px;
}

.time {
  color:  rgba(225, 226, 215, 1.0);
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws{
  margin: 0 10 0 10;
}

.ws-button-active-1 {
  all: unset;
  color: rgba(177, 223, 184, 1.0);
  border: 1px solid rgba(177, 223, 184, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-active-2 {
  all: unset;
  color: rgba(162, 223, 217, 1.0);
  border: 1px solid rgba(162, 223, 217, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-active-3 {
  all: unset;
  color: rgba(209, 215, 158, 1.0);
  border: 1px solid rgba(209, 215, 158, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-active-4 {
  all: unset;
  color: rgba(209, 204, 237, 1.0);
  border: 1px solid rgba(209, 204, 237, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-busy-1 {
  all: unset;
  color: rgba(177, 223, 184, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-busy-2 {
  all: unset;
  color: rgba(162, 223, 217, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-busy-3 {
  all: unset;
  color: rgba(209, 215, 158, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-busy-4 {
  all: unset;
  color: rgba(209, 204, 237, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-1 {
  all: unset;
  color: rgba(209, 210, 199, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-2 {
  all: unset;
  color: rgba(209, 210, 199, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-3 {
  all: unset;
  color: rgba(209, 210, 199, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-4 {
  all: unset;
  color: rgba(209, 210, 199, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.sidestuff slider {
  all: unset;
}

.label{ 
  font-size: 20pt;
  color:  rgba(225, 226, 215, 1.0);
}

.metric scale trough highlight {
  all: unset;
  background-color: rgba(178, 215, 238, 1.0); 
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: rgba(209, 210, 199, 1.0);
  border-radius: 50px;
  min-height: 15px;
  min-width: 100px;
  margin: 0 10px 0 10px;
}

