.statusbar {
  background-color: rgba(203, 193, 199, 0.6);
  border-radius: 30px;
  padding: 5px;
  margin: 0px;
}

.time {
  color:  rgba(33, 41, 36, 1.0);
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws{
  margin: 0 10 0 10;
}

.ws-button-active-1 {
  all: unset;
  color: rgba(32, 55, 29, 1.0);
  border: 1px solid rgba(32, 55, 29, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-active-2 {
  all: unset;
  color: rgba(8, 57, 46, 1.0);
  border: 1px solid rgba(8, 57, 46, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-active-3 {
  all: unset;
  color: rgba(51, 50, 19, 1.0);
  border: 1px solid rgba(51, 50, 19, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-active-4 {
  all: unset;
  color: rgba(33, 50, 66, 1.0);
  border: 1px solid rgba(33, 50, 66, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-busy-1 {
  all: unset;
  color: rgba(32, 55, 29, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-busy-2 {
  all: unset;
  color: rgba(8, 57, 46, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-busy-3 {
  all: unset;
  color: rgba(51, 50, 19, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-busy-4 {
  all: unset;
  color: rgba(33, 50, 66, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-1 {
  all: unset;
  color: rgba(42, 51, 45, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-2 {
  all: unset;
  color: rgba(42, 51, 45, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-3 {
  all: unset;
  color: rgba(42, 51, 45, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-4 {
  all: unset;
  color: rgba(42, 51, 45, 1.0);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 10px 0 10px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.sidestuff slider {
  all: unset;
}

.label{ 
  font-size: 20pt;
  color:  rgba(33, 41, 36, 1.0);
}

.metric scale trough highlight {
  all: unset;
  background-color: rgba(9, 55, 61, 1.0); 
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: rgba(42, 51, 45, 1.0);
  border-radius: 50px;
  min-height: 15px;
  min-width: 100px;
  margin: 0 10px 0 10px;
}

